* {
    box-sizing: border-box; 
}

body {
    background-color: black;
    color: white;
    font-weight: 100;
}

nav {
    display: flex;
    justify-content: center;
    gap: 16px;
}

nav a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

nav a:hover{
    color: red;
}

main {
    max-width: 800px;
    margin: auto;
}

section {
    background-color: grey;
    padding: 10;
    margin-bottom: 30px;
}

.features {
    display: grid;
    background-color: #2a2a2a;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    border-radius: 10px;
}

#notes-list {
    list-style: none;
    background-color:#2a2a2a;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffe607;
    color: black;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #444;
}
th {
    background-color: #2a2a2a;
    color: #fff;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #222;
    border: 1px solid #444;
    color: white;
    border-radius: 4px;
}
@media (max-width: 600px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 1.8rem;
    }
}
